<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EasyJob_ProDG.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

    <userSettings>
        <EasyJob_ProDG.UI.Properties.Settings>
            <setting name="WindowPosition" serializeAs="String">
                <value>0,0,0,0</value>
            </setting>
            <setting name="WindowStateMaximized" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ContainerDataTableDisplayIndex" serializeAs="String">
                <value />
            </setting>
            <setting name="ContainerDataTableWidth" serializeAs="String">
                <value>Auto</value>
            </setting>
            <setting name="ContainerDataTableVisibilities" serializeAs="String">
                <value />
            </setting>
            <setting name="ReeferDataTableDisplayIndex" serializeAs="String">
                <value />
            </setting>
            <setting name="ReeferDataTableWidth" serializeAs="String">
                <value>Auto</value>
            </setting>
            <setting name="ReeferDataTableVisibilities" serializeAs="String">
                <value />
            </setting>
            <setting name="ConflictsWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="WorkingCargoPlanFile" serializeAs="String">
                <value>Working cargo plan.ejc</value>
            </setting>
            <setting name="DgDataTableDisplayIndex" serializeAs="String">
                <value />
            </setting>
            <setting name="DgDataTableWidth" serializeAs="String">
                <value>Auto</value>
            </setting>
            <setting name="DgDataTableVisibilities" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstTimeStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExcelReeferTemplate1" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcelReeferTemplate2" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcelReeferTemplate3" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcelReeferTemplate4" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcelReeferTemplate5" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedExcelReeferTemplate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ExcelDgTemplate1" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcelDgTemplate2" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcelDgTemplate3" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcelDgTemplate4" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcelDgTemplate5" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedExcelDgTemplate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ShowSummaryOnUpdateCondition" serializeAs="String">
                <value>True</value>
            </setting>
        </EasyJob_ProDG.UI.Properties.Settings>
    </userSettings>
</configuration>
